.scrollContainer {
  /* layout */
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 14px;
  z-index: 1001;
  /* style */
  background: rgba(0, 0, 0, 0.35);
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.scrollContainer #listCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  overflow: visible;
  position: relative;
}
.scrollContainer #listCardContainer > :last-child {
  margin-bottom: 300px;
}
.scrollContainer #listControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  position: sticky;
  top: 0;
}
.scrollContainer #listControls #scrollPrint {
  align-items: center;
  justify-content: center;
  background: #EDEAE7;
}
.scrollContainer .close {
  position: absolute;
  left: 20px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: rgba(0, 0, 0, 0.75);
}

.showCards {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.ghost {
  opacity: 0.5;
}

#totalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0px 10px;
  margin: 6px;
  border-radius: 12px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #888079;
  line-height: normal;
  font-style: normal;
  margin: 0;
  padding: 15px 10px;
  height: auto;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.dragIcon {
  color: #C6BCB3;
  padding: 34px 0;
  cursor: grab;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 140px;
  }
  .scrollContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .scrollContainer #listCardContainer {
    order: 2;
    width: 92vw;
  }
  .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
}
/* css selectors for printing */
@media print {
  body :not(.scrollContainer *):not(.scrollContainer) {
    display: none !important;
  }
  .scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
    background: white;
    box-shadow: none;
  }
  .scrollContainer #listCardContainer {
    display: flex;
    order: 2;
    height: auto;
    max-height: none;
    width: 100vw;
  }
  .scrollContainer #listCardContainer .listCard {
    background-color: white !important;
    width: 90vw !important;
  }
  .scrollContainer #listCardContainer .listCard > .cardTextContainer .deleteButton {
    display: none;
  }
  .scrollContainer #listControls {
    order: 1;
    flex-direction: row;
  }
  .scrollContainer #listControls #scrollPrint {
    display: none;
  }
}/*# sourceMappingURL=shoppingList.css.map */