@import '../../styles/mixins';
@import '../../styles/variables';

#root {
    .scrollContainer {
        /* layout */
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        position: fixed;
        overflow-y: scroll;
        scroll-behavior: smooth;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        padding: 14px;
        z-index: 1001;

        /* style */
        //border-radius: 12px;
        //border: 3px solid $menu-grey;
        background: rgba(0, 0, 0, 0.35);

        /* effects */
        box-shadow: $soft-drop;
        backdrop-filter: blur(2px);

        #listCardContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            //margin-top: 10px;
            max-width: 450px;
            overflow: visible;
            position: relative;
            //max-height: 80vh;
            padding-bottom: 100px;
        }

        #listControls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 11px;
            position: sticky;
            top: 0;
            z-index: 1002;

            #scrollPrint {
                //height: 24px;
                align-items: center;
                justify-content: center;
                background: $offwhite;
            }

            #totalButton {
                @include button();
                @include buttonTypography();

                margin: 0;
                padding: 15px 10px;
                height: 21px;
                color: black;
                font-weight: 600;
                text-transform: capitalize;
                box-sizing: content-box;
            }

            .close {
                position: relative;
                //left: 20px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                color: $menu-black;
                opacity: 1;
            }
        }


    }

    .showCards {
        display: flex !important;
    }

    .noScroll {
        overflow: hidden;
    }


    .dragIcon {
        color: $warm-grey;
        cursor: grab;
        touch-action: none;
        position: absolute;
        padding: 10% 10%;
        right: -7%;
    }

}

@media only screen and (max-width: 600px) {
    .card {
        width: 140px;
    }

    .scrollContainer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: auto;

        #listCardContainer {
            order: 2;
            width: 92vw;
        }

        #listControls {
            order: 1;
            flex-direction: row;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 400px) {
    .section {
        justify-content: center;
    }

    .menuContainer {
        flex-direction: column;
    }
}