@import './variables';
@import './mixins';

#ad {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    h1,
    h2,
    h3,
    h4,
    a {
        color: black;
    }

    h1 {
        font-size: calc(24px + 6 * ((100vw - 320px) / 680));

        font-weight: 900;
    }

    select {
        height: auto !important;
    }

    .fullWidth .vc_column-inner {
        padding: 0;
    }
}