@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 10px;
    margin: 6px;
    border-radius: 12px;
    border: 3px solid #C6BCB3;
    background: #EDEAE7;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@mixin buttonInline {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
	gap: 3px;
    padding: 0px 8px 0 1px;
    margin: 0;

    /* style */
    border-radius: 100px;
    border: 3px solid #C6BCB3;
    background: #EDEAE7;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

    /* typography */
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #888079;
    line-height: normal;
    font-style: normal;

    cursor: pointer;
}

@mixin buttonTypography {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #888079;
    line-height: normal;
    font-style: normal;
}

// Mixins
@mixin card-styles {
    // Common card styles
    border-radius: 10px;
    background: $offwhite;
    box-shadow: $soft-drop;
    /* transition: transform 100ms cubic-bezier(0.15, 0, 0.17, 1.02),
                box-shadow 100ms cubic-bezier(0.15, 0, 0.17, 1.02); */
}