// Variables
$font-family-ui: 'SF Pro Display', sans-serif;
$font-family: "myriad-pro-semi-condensed", sans-serif;
$font-family-bold: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-family-script: 'Lobster', sans-serif;
$font-family-jungle: 'Alegreya Sans', sans-serif;
$font-family-alt: 'Barlow Condensed', sans-serif;

$menu-black: rgba(0, 0, 0, 0.75);
$menu-grey: rgba(0, 0, 0, 0.25);
$warm-grey: #C6BCB3;
$offwhite: #EDEAE7;
$dark-green: #0C5900;

$hard-drop: 2px 13px 21px 0px rgba(0, 0, 0, 0.15), 1px 6px 8px 0px rgba(0, 0, 0, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
$soft-drop: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.30);
$soft-drop-filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.35));

$scaling-padding: calc(16px + 5 /* base offset at specified viewport width */ * (100vw - 320px /* vp width */ ) / 400 /* scale of max value */);