#root .print {
  padding: 14px;
  z-index: 1001;
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background: rgba(237, 234, 231, 0.65);
  cursor: pointer;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  color: rgba(0, 0, 0, 0.75);
}
#root #toolbar {
  /* layout */
  position: fixed;
  width: auto;
  bottom: 36px;
  left: 36px;
  z-index: 10;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 14px;
}
#root #toolbar * {
  color: rgba(0, 0, 0, 0.75);
}
#root #toolbar *:not(.material-symbols-outlined) {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  /* 25.32px */
  letter-spacing: -0.8px;
  margin: 0;
}
#root #toolbar .tools {
  display: flex;
  flex-direction: row;
  gap: inherit;
  flex-wrap: wrap;
  box-sizing: content-box;
}
#root #toolbar .toolbarButton {
  padding: 14px;
  z-index: 1001;
  /* style */
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  background: rgba(237, 234, 231, 0.65);
  cursor: pointer;
  /* effects */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
}
#root #toolbar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  width: auto;
  position: relative;
}
#root #toolbar .header #listCounter {
  position: absolute;
  top: -13px;
  right: -12px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* style */
  background: rgb(68, 117, 82);
  /* typography */
  font-size: 14px;
  color: #EDEAE7 !important;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-weight: 300;
}
#root #toolbar .header .firefox {
  padding-bottom: 2px;
  padding-right: 1px;
}
#root #toolbar .header .listIcon {
  font-size: 32px;
  line-height: 0;
}
#root #toolbar label {
  display: none;
}
#root #toolbar select {
  text-transform: capitalize;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
}
#root #toolbar .filter {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; */
  position: relative;
}
#root #toolbar .filter .material-symbols-outlined {
  pointer-events: none;
  transform: rotate(180deg);
  font-weight: 500;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root #toolbar .copycat {
  position: absolute;
  left: -99999px;
  width: auto;
  text-transform: capitalize;
}
#root .button {
  /* style */
  border-radius: 200px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  #root #toolbar {
    left: 18px;
    gap: 8px;
  }
  #root #toolbar .toolbarButton {
    padding: 12px;
  }
  #root #toolbar .tools {
    position: fixed;
    top: 48px;
    right: 12px;
    flex-direction: column;
  }
  #root #toolbar .header {
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  #root #toolbar .header > h1 {
    display: none;
  }
  #root #toolbar *:not(.material-symbols-outlined) {
    font-size: 16px;
  }
  #root .listIcon {
    font-size: 30px;
  }
  #root .filter {
    padding: 0 !important;
  }
  #root .filter .material-symbols-outlined {
    font-size: 20px;
    right: 7% !important;
  }
}/*# sourceMappingURL=toolbar.css.map */