@import '../../styles/mixins';
@import '../../styles/variables';


/* CARD BASE STYLES */
.card {
	display: flex;
	position: relative;
	width: 180px;
	/* max-width: 300px; */
	padding: 8px 9px;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-start;
	//gap: 10px;
	color: black !important;


	border-radius: 10px;
	background: var(--offwhite, #EDEAE7);
	/* Soft Drop */
	box-shadow: $soft-drop;

	>img {
		object-fit: contain;
		border-radius: 6px;
		width: 100%;
		max-height: 190px;
		aspect-ratio: 1;
		background: white;
	}

	>.cardTextContainer {
		display: flex;
		padding: 13px 7px 0;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		gap: .25em;
		font-size: 16px;

		>h2 {
			font-family: $font-family-alt;
			font-size: 1.5em;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
			//letter-spacing: .5px;
			color: black;
			margin: 0;
		}

		>h3 {
			font-family: $font-family-alt;
			font-weight: 500;
			//text-transform: uppercase;
			margin: 0;
			font-size: 1em;
		}

		>p {
			//color: var(--dark-green, #0C5900);
			font-family: $font-family-alt;
			font-size: 1em;
			font-style: normal;
			font-weight: 500;
			line-height: 120%;
			letter-spacing: -0.4px;

			margin: 0;
		}

		sup {
			font-size: 3em;
			margin: .1em 0;
			line-height: normal !important;
			vertical-align: baseline !important;
			position: static !important;
		}

		.dollar {
			font-size: 6em;
			margin: 0;
		}

		.percentOff {
			font-size: 3em;
			margin: 14px 0 12px 0;
			line-height: 100%;
		}

		.specialtyAmnt {
			font-size: 1.5em;
			line-height: 100%;
			//height: 100%;
			display: flex;
			align-items: flex-end;
			flex-direction: row;

			p {
				margin: 1.5em -.2em 1.3em 0;
			}

			span {
				font-size: 1.75em;
			}
		}
	}

	.additionalText {
		font-family: "myriad-pro-condensed", sans-serif;
		font-weight: 300;
		font-size: 16px;
		margin: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		p {
			margin: 0;
			line-height: 100%;
		}
	}

}




/* CARD PERIPHERALS */
.save {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 35%;
	right: -6%;
	filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.35));

	.star {
		background: #FFE600;
		width: 100%;
		height: 100%;
		position: absolute;
		clip-path: polygon(50% 0%, 67% 26%, 98% 35%, 76% 59%, 79% 91%, 49% 77%, 21% 91%, 22% 61%, 2% 35%, 32% 26%);
	}

	p {
		font-size: 24px;
		font-family: $font-family-bold;
		//outline: 2px solid $offwhite;
		text-shadow:
			-1px -1px 0 #ffffff,
			1px -1px 0 #ffffff,
			-1px 1px 0 #ffffff,
			1px 1px 0 #ffffff;
		position: relative;
		text-align: center;
		line-height: 100%;
		margin: 0;
	}

	span {
		color: red;
		font-family: 'Permanent Marker', cursive;
	}
}

.badgeContainer {
	display: flex;
	flex-direction: column;
	width: 60px;
	gap: 6px;
	position: absolute;
	top: 0;
	left: -4px;

	.badge {
		object-fit: contain;
		width: 100%;
		height: auto;
	}
}

.priceContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	color: #000;
	margin: -.85em 0 -11px;
	/* typography */
	font-family: $font-family-bold;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.187px;

	>div {
		display: flex;
		padding-top: 6.375px;
		flex-direction: column;
		align-items: flex-start;
		gap: .5em;
	}

	.unit {
		font-family: $font-family-alt;
		font-weight: 500;
	}
}




.buttonInline {
	@include buttonInline();
	position: absolute;
	right: -6px;
	z-index: 1;
}

.add {
	top: -4px;
}

.lower {
	top: 30px;
}

.padding1 {
	padding: 1px;
}



@media only screen and (max-width: 400px) {
	.priceContainer {
		font-size: 10px;
		>div {
			gap: 0;
		}
	}

    .card {
        width: auto !important;
        flex-direction: row;
        max-width: none;
        align-items: center;

        img {
            width: 101px;
        }

        .badgeContainer {
            display: none;
        }

        .badge {
            width: 70%;
        }

        .additionalText {
            position: absolute;
            bottom: 5px;
            max-width: 90px;
            right: 5px;
            text-align: right;
			align-items: flex-end;
			margin: 0;
			p {
				margin: 0;
			}
        }

        .cardTextContainer {
            font-size: 9px;
            padding: 0 14px 0 10px;
			justify-content: center;

            h2 {
                font-size: 2.25em;
            }

            h3 {
                font-size: 1.75em;
            }

            .unit {
                font-size: 1.75em;
            }

            sup {
                margin: 0;
            }

			.specialtyAmnt {
				p {
					margin: 0 -0.2em .8em 0;
				}
			}
        }

        .save {
            height: auto;
            width: auto;
            top: -9px;
            right: auto;
            left: -12px;

            p {
                margin: 0;
				font-size: 20px;
            }

            span {
                margin-right: 5px;
            }

            br {
                display: none;
            }

            .star {
                clip-path: none;
            }
        }
    }


}