/* CARD BASE STYLES */
.card {
  display: flex;
  position: relative;
  width: 180px;
  /* max-width: 300px; */
  padding: 8px 9px;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  color: black !important;
  border-radius: 10px;
  background: var(--offwhite, #EDEAE7);
  /* Soft Drop */
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.card > img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  width: 100%;
  max-height: 190px;
  aspect-ratio: 1;
  background: white;
}
.card > .cardTextContainer {
  display: flex;
  padding: 13px 7px 0;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 0.25em;
  font-size: 16px;
}
.card > .cardTextContainer > h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: black;
  margin: 0;
}
.card > .cardTextContainer > h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 1em;
}
.card > .cardTextContainer > p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.4px;
  margin: 0;
}
.card > .cardTextContainer sup {
  font-size: 3em;
  margin: 0.1em 0;
  line-height: normal !important;
  vertical-align: baseline !important;
  position: static !important;
}
.card > .cardTextContainer .dollar {
  font-size: 6em;
  margin: 0;
}
.card > .cardTextContainer .percentOff {
  font-size: 3em;
  margin: 14px 0 12px 0;
  line-height: 100%;
}
.card > .cardTextContainer .specialtyAmnt {
  font-size: 1.5em;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.card > .cardTextContainer .specialtyAmnt p {
  margin: 1.5em -0.2em 1.3em 0;
}
.card > .cardTextContainer .specialtyAmnt span {
  font-size: 1.75em;
}
.card .additionalText {
  font-family: "myriad-pro-condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.card .additionalText p {
  margin: 0;
  line-height: 100%;
}

/* CARD PERIPHERALS */
.save {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 35%;
  right: -6%;
  filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.35));
}
.save .star {
  background: #FFE600;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 67% 26%, 98% 35%, 76% 59%, 79% 91%, 49% 77%, 21% 91%, 22% 61%, 2% 35%, 32% 26%);
          clip-path: polygon(50% 0%, 67% 26%, 98% 35%, 76% 59%, 79% 91%, 49% 77%, 21% 91%, 22% 61%, 2% 35%, 32% 26%);
}
.save p {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  position: relative;
  text-align: center;
  line-height: 100%;
  margin: 0;
}
.save span {
  color: red;
  font-family: "Permanent Marker", cursive;
}

.badgeContainer {
  display: flex;
  flex-direction: column;
  width: 60px;
  gap: 6px;
  position: absolute;
  top: 0;
  left: -4px;
}
.badgeContainer .badge {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #000;
  margin: -0.85em 0 -11px;
  /* typography */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.187px;
}
.priceContainer > div {
  display: flex;
  padding-top: 6.375px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
.priceContainer .unit {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
}

.buttonInline {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 0px 8px 0 1px;
  margin: 0;
  /* style */
  border-radius: 100px;
  border: 3px solid #C6BCB3;
  background: #EDEAE7;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  /* typography */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #888079;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
  position: absolute;
  right: -6px;
  z-index: 1;
}

.add {
  top: -4px;
}

.lower {
  top: 30px;
}

.padding1 {
  padding: 1px;
}

@media only screen and (max-width: 400px) {
  .priceContainer {
    font-size: 10px;
  }
  .priceContainer > div {
    gap: 0;
  }
  .card {
    width: auto !important;
    flex-direction: row;
    max-width: none;
    align-items: center;
  }
  .card img {
    width: 101px;
  }
  .card .badgeContainer {
    display: none;
  }
  .card .badge {
    width: 70%;
  }
  .card .additionalText {
    position: absolute;
    bottom: 5px;
    max-width: 90px;
    right: 5px;
    text-align: right;
    align-items: flex-end;
    margin: 0;
  }
  .card .additionalText p {
    margin: 0;
  }
  .card .cardTextContainer {
    font-size: 9px;
    padding: 0 14px 0 10px;
    justify-content: center;
  }
  .card .cardTextContainer h2 {
    font-size: 2.25em;
  }
  .card .cardTextContainer h3 {
    font-size: 1.75em;
  }
  .card .cardTextContainer .unit {
    font-size: 1.75em;
  }
  .card .cardTextContainer sup {
    margin: 0;
  }
  .card .cardTextContainer .specialtyAmnt p {
    margin: 0 -0.2em 0.8em 0;
  }
  .card .save {
    height: auto;
    width: auto;
    top: -9px;
    right: auto;
    left: -12px;
  }
  .card .save p {
    margin: 0;
    font-size: 20px;
  }
  .card .save span {
    margin-right: 5px;
  }
  .card .save br {
    display: none;
  }
  .card .save .star {
    -webkit-clip-path: none;
            clip-path: none;
  }
}/*# sourceMappingURL=card.css.map */